<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
<link rel="stylesheet" href="./dashboard.css">
  <div class="navbar">
    <h1>Restaurant Staff</h1>
    <i class="fas fa-bars toggle-btn" id="toggleSidebar"></i>
  </div>

  <div class="dashboard">
    <div class="sidebar" id="sidebar">
    
      <h2>Staff Panel</h2>
      <div class="menu-item" onclick="toggleMenu('dashboardMenu')">
        <span><i class="fas fa-chart-line"></i><a href="/viewdashboardAdmin" class="menu-link">Dashboard</a> </span>
      </div>
  
      <div class="menu-item" onclick="toggleMenu('tableMenu')">
        <span><i class="fas fa-chair"></i><a href="/stafftable" class="menu-link"> Dinning Tables</a></span>
      </div>

      <div class="menu-item" onclick="toggleMenu('menuMenu')">
        <span><i class="fas fa-utensils"></i><a href="/menu/<%= orderId %>">View Menu</a>
          

          <!-- <a href="/menu/101">View Menu</a> -->
</span>
      </div>
      <div class="menu-item">
        <span><i class="fa-brands fa-jedi-order"></i><a href="/viewOrders" class="menu-link"> Views Orders</a></span>
      </div>

      <div class="menu-item">
        <span><i class="fas fa-user-cog"></i><a href="#" class="menu-link"> Staff Profile</a></span>
      </div>

      <div class="menu-item">

      <a href="/logout"><span><i class="fas fa-sign-out-alt"></i></span> logout</a> 
      </div>
    </div>

    <div class="main-content" id="content-area">
      <h2>Welcome Staff 🍽️</h2>
    </div>
  </div>

  <script>
    const toggleBtn = document.getElementById('toggleSidebar');
    const sidebar = document.getElementById('sidebar');

    toggleBtn.addEventListener('click', () => {
      sidebar.classList.toggle('active');
    });

    function toggleMenu(id) {
      document.querySelectorAll('.submenu').forEach(menu => {
        if (menu.id !== id) menu.style.display = 'none';
      });

      const target = document.getElementById(id);
      target.style.display = target.style.display === 'block' ? 'none' : 'block';
    }
  </script>